.description {
    color: var(--p-font-colour);
}

.slider {
    padding-top: 5vh;
    padding-right: 10vh;
    padding-left: 10vh;
    animation: fade-in 1s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}