.homePage {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  padding-top: 10%;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.features {
  text-align: center;
  margin-top: 10%;
}

.featureButton {
  display: block;
  margin: 2% auto;
}
  
